# ===================
# React / frontend
# ===================
node_modules/
build/
.env
.DS_Store

# ===================
# Spring Boot / backend
# ===================
target/
*.class
*.iml

# ===================
# IDE
# ===================
# IntelliJ IDEA
.idea/
*.iml

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/
